@tailwind base;
@tailwind components;
@tailwind utilities;

/* defined font-face */
@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

html {
  font-family: roboto, sans-serif;
}

body {
  @apply text-white bg-[#5b5b5b] min-h-screen;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.transition-base {
  @apply transition-all duration-200 ease-linear;
}

/* table */
table {
  @apply w-full;
}

td {
  @apply last:text-sm last:font-bold;
}

tr {
  @apply border-b-2 border-b-[#424242];
}

tr td {
  @apply first-of-type:pt-4 first-of-type:py-2 first-of-type:text-sm max-w-xs last-of-type:text-right;
}
